# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

#VS Code
.vscode/

#Data (don't version raw/processed)
data/raw/
data/processed/

# Power BI
*.pbix

# Airflow (local)
airflow/logs/
airflow/plugins/__pycache__/